:root {
  --primary-color: #f15b31;
  --secondary-color: #00a6b3;
  --light-color: #fff;
  --dark-color: #000;
  --neutral-color: #0d2c40;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 30px 20px;
}

header h1 {
  color: var(--light-color);
}

nav {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 20px 0;
}

nav a {
  color: var(--light-color);
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: var(--light-color);
}

main {
  width: 850px;
  margin: 35px auto;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: var(--neutral-color);
  color: var(--light-color);
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.copyright {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.name {
  color: var(--primary-color);
  font-weight: 700;
}

h1,
h2,
h3,
h4,
a {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  color: var(--neutral-color);
}

h1 {
  font-weight: 400;
  font-size: 45px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

img {
  margin: 8px 8px;
}

.match {
  color: var(--primary-color);
}

.noMatch {
  color: var(--secondary-color);
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

#controls {
  margin: 30px auto;
}

.reset {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 29px;
  font-weight: 100;
  padding: 10px 15px;
  background-color: #f15b31;
  border: solid #00a6b3 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.reset:hover {
  background: #ff825c;
  text-decoration: none;
}

#game-board {
  margin: 20px auto;
}
